<div class="card">
  <div class="card-body">
    <form class="add-q-f form-horizontal" [formGroup]="quizFrom" (ngSubmit)="onSubmit()">
      <div class="form-group row">
        <label class="col-sm-2 control-label" for="inputEmail3">
          Quiz title:
        </label>
        <div class="col-sm-4">
          <input type="text" class="form-control" formControlName="name">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 control-label" for="">
          Course:
        </label>
        <div class="col-sm-4">
          <select id="" class="form-control" formControlName="course">
            <option *ngFor="let course of courses" [value]="course.courseValue">{{course.courseValue}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 control-label" for="">
          Quiz image:
        </label>
        <div class="col-sm-4">
          <img class="border border-darkb" src="../../../../assets/images/placeholder-image.png" width="150 " height="auto "
            alt=" ">
          <input type="file">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 control-label" for="">
          Time frame:
        </label>
        <div class="col-sm-4 q-timer d-flex">
          <input type="text" name="" id="" value="2" class="form-control">
          <select name="" id="" class="select2 form-control">
            <option *ngFor="let time of times" [value]="time">{{time}}</option>
          </select>
        </div>
      </div>
      <button class="btn btn-info" type="submit" [disabled]="!quizFrom.valid">Save</button>
      <button type="button" class="btn btn-danger" (click)="onDeleteQuiz()">Delete</button>
      <button type="button" class="btn btn-primary" (click)="onCancel()">Clear</button>
    </form>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <app-question></app-question>
  </div>
</div>
