<div class="quiz-result">
  <div class="card">
    <div class="card-body">
      <div class="media">
        <img class="align-self-center mr-3" width="100" [src]="quiz.image" [alt]="quiz.name">
        <div class="media-body">
          <h5 class="mt-0">{{quiz.name}}</h5>
          <span>{{quiz.completed}} completed</span>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5>All question</h5>
      <p *ngFor="let que of questions">
        <a href="#">{{que.name}}</a>
      </p>
    </div>
  </div>
</div>
